/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* End of CSS Reset - Start of Styling */

html {
  background-color: #B45309;
}

/* Fonts */

@font-face {
  font-family: 'Cursed Timer';
  src: url(assets/CursedTimer.ttf);
  font-weight: 400;
  font-style: normal;
}


/* Scoreboard Container */
 
body {
  font-family: 'Cursed Timer', Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scoreboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;

  background-color: #1B244A;

  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  padding: 30px 50px;
}


/* Home and Guest Containers */

h3 {    
  display: flex;
  width: 149px;
  flex-direction: column;
  flex-shrink: 0;
  color: #EEE;
  text-align: center;
  font-size: 40px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 35.893px;
}

.guest-container,
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.score {
  width: 210px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #080001;
  color: #F94F6D;
  font-size: 5.625rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  line-height: 120px;
}

.buttons{
  display: flex;
  gap: 10px;
  flex-shrink: 0;

  
}
button {
  height: 45px;
  width: 45px;
  background: none;
  color: #9AABD8;
  border-radius: 5px;
  border: 2px solid #9AABD8;
}

.reset {
  width: 70px;
}



  
  

  
  







